@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  /* font-family: 'grotesk'; */
  background-color: #f5f5f5;
  font-family: 'Blinker', sans-serif;
}

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
} */
